h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $heading-font;
}

h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

h1 {
	font-size: 4.5em;
	text-align: center;
	background-color: $color__text-main;
	color: #fff;
	margin-top: -16px;
	padding: .5em 0;
}

h2 {
	font-size: 3.5em;
}

h3 {
	font-size: 3em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.5em;
	font-weight: 300;
}

h6 {
	font-size: 1em;
	font-weight: 300;
}
