.main-navigation {
	grid-column: span 12;
	text-align: center;
	padding-bottom: 2em;
	@include md {
		width: 100%;
		text-align: center;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			display: grid;
			grid-template-columns: $grid-column-12;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		grid-column: span 3;
		width: 100%;
		height: 100;
		color: #fff;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
		margin: 5em 0;
		@include md {
			margin: 0;
		}
	}
}

#primary-menu {
	a {
		text-decoration: none;
		&:before {
			content: " ";
			display: block;
			width: 100px;
			height: 100px;
			margin: 0 auto;
			transition: all 0.2s ease-in;
		}
		&:hover {
			text-decoration: underline;
		}
	}

	a:hover:before {
		filter: invert(1);
	}
	.portfolio a:before {
		background-image: url(https://andrewremery.com/wp-content/themes/arevisual/img/portfolio.svg);
	}
	.resume a:before {
		background-image: url(https://andrewremery.com//wp-content/themes/arevisual/img/resume.svg);
	}
	.blog a:before {
		background-image: url(https://andrewremery.com/wp-content/themes/arevisual/img/blog.svg);
	}
	.contact a:before {
		background-image: url(https://andrewremery.com/wp-content/themes/arevisual/img/contact.svg);
	}
	.current_page_item {
		a {
			border-bottom: 2px solid $accent-color;
		}
	}
}

/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	transition: all 0.5s;
}
.menu-toggle {
	width: 95%;
	margin: 0 0 0.1em 2.5%;
	background: transparent;
	border-color: $accent-color;
	border-radius: 28px;
	color: $accent-color;
	transition: all 300ms ease-in-out;
	&:hover {
		color: #fff;
		background: $accent-color;
		border-color: $accent-color;
	}
}
@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul,
	.main-navigation.toggled ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 2em 0;
	}

	.nav-links {
		.nav-previous {
			float: none;

			margin: 1em 0;
			@include lg {
				float: left;
			}
			a {
				color: $accent-color;
				@include lg {
					background: transparent;
					padding: 0.75em;
					border: 1px solid $accent-color;
					border-radius: 28px;
					color: $accent-color;
					transition: all 300ms ease-in-out;
					text-decoration: none;
					text-align: center;
				}
				&:hover {
					color: #fff;
					background: $accent-color;
					border-color: $accent-color;
				}
			}
		}
		.nav-next {
			float: none;
			margin: 1em 0;
			@include lg {
				float: right;
			}
			a {
				color: $accent-color;
				@include lg {
					background: transparent;
					padding: 0.75em;
					border: 1px solid $accent-color;
					border-radius: 28px;
					color: $accent-color;
					transition: all 300ms ease-in-out;
					text-decoration: none;
					text-align: center;
				}

				&:hover {
					color: #fff;
					background: $accent-color;
					border-color: $accent-color;
				}
			}
		}
	}
}
