.site-footer {
	background-color: #fbfbfb;
	background-image: url(https://andrewremery.com/wp-content/themes/arevisual/img/header.png);
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.07), 0 0 6px rgba(0, 0, 0, 0.06);
	text-align: center;
	font-size: 1.5em;
	padding: 2em;
	.footer-container {
		padding: 0.5em;
	}
	a {
		text-decoration: none;
	}
	#social-menu {
		a {
			background: unset;
		}
		.fa {
			font-size: 1em;
			transition: all 0.3s ease;
			margin: 0 0.5em;
			&:hover {
				color: $accent-color;
			}
			@include md {
				font-size: 1.5em;
			}
		}
	}
	#sitemap-container {
		a {
			text-decoration: underline;
		}
	}
}
