#masthead {
	display: grid;
	grid-template-columns: $grid-column-12;
	background-color: #fbfbfb;
	background-image: url(https://andrewremery.com/wp-content/themes/arevisual/img/header.png);
	box-shadow: 0 0px 10px rgba(0,0,0,0.07), 0 0 6px rgba(0,0,0,0.06);
	.site-branding {
		grid-column: span 12;
		margin: 0 auto;
		text-align: center;
		.site-title {
			font-size: 4em;
		
			line-height: 1em;
			@include lg {
				font-size: 6em;
			}
			a {
				font-family: $heading-font;
				font-weight: 900;
				text-decoration: none;
			}
		}
	}
	a {
		background: unset;
	}
}
