.single {
	.entry-footer {
		background: $color__text-main;
		color: #fff;
		padding: 2em;
		a {
			color: #fff;
		}
		.skills-list-heading {
			font-weight: 900;
			font-family: $heading-font;
		}
	}
	#comments{
		padding-top: 3em;
		#submit{
			background: transparent;
			border-color: $accent-color;
			border-radius: 28px;
			color: $accent-color;
			transition: all 300ms ease-in-out;
			&:hover {
				color: #fff;
				background: $accent-color;
				border-color: $accent-color;
			}

		}
	}
}
