.home {
	.site-main {
		padding: 0;
		.hp-intro-banner{
			margin-top: -1.5em;
		}
		.hp-portfolio {
			border-radius: 4px;
			box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
			transition: 0.2s all ease-in-out;
			height: 450px;
			background: #fff;
			&:hover {
				transform: scale(1.02);
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.65);
			}
			img {
				height: 300px;
				width: 100%;
				object-fit: cover;
			}
			figcaption{
				padding: 1em 2em;
			}
		}
	}
}
