#portfolio-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1em;
	.portfolio-link {
		grid-column: span 4;
		@include md {
			grid-column: span 2;
	}
		@include lg {
			grid-column: span 1;
		}
		.portfolio-item {
			border-radius: 4px;
			background: #fff;
			box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
			 transition: .2s all ease-in-out;
			 cursor: pointer;
			 height: 750px;
		}
		.portfolio-item:hover {
			transform: scale(1.02);
			box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.65);
		}
		img {
			width: 100%;
			height: 500px;
			object-fit: cover;
		}
		.text-container{
			padding: .5em 1em;
			h2{
				font-size: 1.5em;
			}
		}
	}
	.modal-header{
		border: none;
	}
	.modal{
		.modal-dialog {
			width: 100%;
			padding: 0 2em;
			.modal-content{
				padding: $default-padding;

			}
			@include md{
				max-width: 98%;
				margin-left: 1.5%;
			}
			.modal-skills-list{
				padding: 1rem;
			}
		}
	}	
}